body {
    background-image: url("https://images.pexels.com/photos/409701/pexels-photo-409701.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
p {
    margin: 0;
    background-color: black;
    color: red;
    font-weight: bold;
    
}
.miniPoster {
    margin: 10px;
    width: 115px;
    height: 150px;
}

.gifContainer {
    box-shadow: 0 0 10px black;
}
.container {
    margin-top: 25px;
    /* background-color: white; */
    background: rgba(63, 53, 53, 0.6); 
    box-shadow: 0 0 10px red;
}

.gifContainer {
    margin: 10px;
    float: left;
}

.gifButton {
    margin: 10px;
   
}


.userInput {
    margin: 10px;
    margin-top: 100px;
}

.row-headder {
    background-color: black;
    
}